@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: #f1f1f1;
        font-family: vazirmatn;
        text-align: center;
    }

    h1 {
        color: #333;
    }
</style>

<body>
    <p>صفحه حریم خصوصی</p>
    <p>درس برنامه نویسی سمت سرور</p>
    <p>استاد یاریان</p>
</body>