@{
    ViewData["Title"] = "ContactUs";
}

<style>
    body {
        background-color: #f1f1f1;
        font-family: vazirmatn;
        text-align: center;
    }

    h1 {
        color: #333;
    }

    .contact-info {
        margin-top: 20px;
    }

    .contact-info p {
        margin-bottom: 10px;
    }
</style>

<body>
    <h1>ارتباط با ما</h1>
    <div class="contact-info">
        <p>Email: <a href="Mohamad.nasimifar80@gmail.com">Mohamad.nasimifar80@gmail.com</a></p>
        <p>Github: <a href="https://github.com/mammadnfr">mammadnfr</a></p>
        <p>Address: Shamsipour Technical and Vocational College</p>
    </div>
</body>