@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Welcome Page</title>
    <style>
        body {
            background-color: #f1f1f1;
            font-family: vazirmatn;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>

<body>
    <h1>خوش آمدید</h1>
    <p>تمرین جلسه پنجم</p>
    <p>ثبت تاریخ شمسی</p>

</body>